body{
    font-family: sans-serif;
    background-color: rgb(28, 28, 139);
}
* {
    margin: 5px;
}
h1 {
    font-size: 18px;
    color: brown;
}

p {
    font-size: 18px;
}
.button {
    border: 0;
    padding: 10px;
    border-radius: 40px;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 0;
}

.button:disabled{
    background-color: #c9c9c9;
    cursor: default;
}

.vermelho {
    background-color: brown;
}

.verde {
    background-color: rgb(14, 194, 14);
}

input[type=text],[type=number], select {
    height: 26px;
    border-radius: 15px;
    border: 1px solid #b8b8b8;
    margin-bottom: 5px;
    padding: 0 15px;
}


